@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* GENERAL */
:root{
    --color-blue-1: #96b3ff;
    --color-blue-2: #5275c8;
    --color-blue-3: #2859ad;
    --color-blue-4: #002c74;
    --color-blue-5: #00003d;
    --color-black-1: #b8b8b8;
    --color-black-2: #898989;
    --color-black-3: #424242;
    --color-black-4: #2a2a2a;
    --color-black-5: #131313;
    
}
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 17px;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-black-5);
}

.btn{
    background: none;
    color: #fff;
    margin: auto;
    width: 160px;
    padding: 0.4rem;
    font-family: 'poppins';
    cursor: pointer;
    border-radius: 0.8rem;
    border: 1px solid var(--color-blue-2);
    transition: all 0.3s ease;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--color-blue-2);
    z-index: -100;
}

.animation-show{
    view-timeline-name: --image;
	view-timeline-axis: block;
    animation-timeline: --image;
	animation-name: show;
    animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

@keyframes show {
	from {
		opacity: 0;
		scale: 40%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}
/** NAV **/
.nav{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 !important;
}

.nav-logo{
    width: 120px;
    height: 120px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.link{
    transition: all 0.3s ease;
}
.link:hover{
    transform: scale(1.1);
}
.link a{
    position: relative;
    padding-bottom: 0.5rem;
    color: #fff;
    letter-spacing: 1px;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-blue-3);
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}
/** HOME **/
.home{
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home .home__grid{
    position: absolute;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
}
.home .home__grid .home__grid-text{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    animation: move-left-right 2s 1;
}
.home .home__grid .home__grid-text h4{
    color: #ccc;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.home .home__grid .home__grid-text h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 1px;
}
@keyframes move-left-right {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes move-right-left {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.home .home__grid .home__grid-text h1 > span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 4rem;
}
.home .home__grid .home__grid-text p{
    margin-bottom: 2rem;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 30px;
}
.home .home__grid-img img{
    width: 300px;
    opacity: 0.6;
    animation: move-right-left  2s 1;
}
.home .home__grid::before{
    content: "Html Css React JavaScript PHP Databases";
    position: absolute;
    top: 0;
    font-size: 8rem;
    font-weight: 400;
    color: var(--color-blue-3);
    opacity: 0.2;
    z-index: -100;
    text-align: center;
    height: 100%;
    overflow: hidden;
}
.home .home__grid-img img{
    max-width: 600px;
    margin: auto;
}

.home .home__grid .home__grid-btn .btn:hover{
    transform: scale(1.1);
}

/* CONOCIMIENTOS */
section#conocimientos{
    background: var(--color-black-4);
    padding: 6rem 2rem;
}
#conocimientos h4{
    transition: all 0.6s ease;
}
#conocimientos:hover h4{
    box-shadow: 0px 0px 14px 0px var(--color-blue-2);
}
#conocimientos .conocimientos__content{
    display: flex;
    flex-direction: column;
}
.conocimientos__content .texto{
    text-align: center;
}
.conocimientos__content .texto h3{
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

.conocimientos__content .texto p{
    color: #ccc;
    line-height: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.conocimientos__content .conocimientos__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.conocimientos__content .conocimientos__cards .item{
    display: grid;
    grid-template-rows: 70px 30px;
    background: #383e4524;
    width: 130px;
    height: 100px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    cursor: pointer;
}

.conocimientos__content .conocimientos__cards .item:hover{
    background: var(--color-blue-4);
    transition: all 0.6s ease;
    transform: scale(1.1);
}

.conocimientos__content .conocimientos__cards .item:hover i{
    -webkit-transform: scale(1.2); 
    transition: all 0.6s ease;
}

.conocimientos__content .conocimientos__cards .item i{
    font-size: 2.6rem;
    margin: auto;
}

.conocimientos__content .conocimientos__cards .item p{
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
}

.bounce2 {
    view-timeline-name: --image;
	view-timeline-axis: block;
    animation-timeline: --image;
	animation-name: bounce2;
    animation-range: entry 100% cover 30%;
	animation-fill-mode: both;
  }

  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-40px);}
      60% {transform: translateY(-15px);}
  }

.ri-html5-fill{
    color: #ff5733;
}
.ri-css3-fill{
    color: #264de4;
}

.color-js{
    color: #f7df1e;
}

.color-bootstrap{
    color: #563d7c;
}

.color-php{
    color: #8892be;
}

.color-react{
    color: #61DBFB;
}

.color-figma{
    color: #fff;
}

.color-css{
    color: #264de4;
}

.color-mysql{
    color: #00758F;
}

.conocimientos .card h4{
   color: #fff;
   font-weight: 600;
}

.conocimientos .card p{
    color: #ccc;
    margin-bottom: 1rem;
}
/* EDUCACION Y EXPERIENCIA */
#educacionexperiencia{
    margin-top: 0;
}


#educacionexperiencia:hover h4{
    box-shadow: 0px 0px 14px 0px var(--color-blue-2);
}

.educacion{
    margin-top: 2rem; 
    transition: .5s ease-out all;
    position: absolute;
}

.educacion .title{
    color: #ccc;
    font-weight: 700;
    display: block;
}

.educacion .duracion{
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 2rem !important;
    width: 100%;
}
.educacion .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 1.5rem;
    margin-left: 10px;
}

.educacion .item i{
    font-size: 1rem;
    color: #1d4ed8;
}

.educacion .item p{
    font-size: 1rem;
    color: #ccc;
    line-height: 2rem;
}

.experiencia{
    margin-top: 2rem; 
    transition: .5s ease-out all;
    position: absolute;
}

.experiencia .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 1.5rem;
    margin-left: 10px;
}

.hidden {  
    opacity: 0;  
}

.grid-proyectos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

/*.grid-proyectos .card-proyecto{
    background: #383e45;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid-proyectos .card-proyecto:hover{
    border: 1px solid #ccc;
}*/
h3{
    color: #ccc;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    position: relative;
}
  
p{
    font-weight: 400;
    line-height: 20px;
    color: #ccc;
    position: relative;
    transition: color 1s ease-out;
}

p.small{
    font-size: 14px;
}
  
.go-corner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    bottom: 0;
    right: 0;
    border-radius: 0 4px 0 32px;
}
  
.go-arrow{
    color: white;
}
  
.card{
    display: grid;
    grid-template-rows: 140px 140px;
    position: relative;
    max-width: 262px;
    height: 280px;
    background-color: #1f2021;
    border-radius: 10px;
    padding: 10px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -16px;
    right: -16px;
    background: #1d4ed8;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    border: 0.1px solid #ccc;
    transform: scale(2.4);
    transform-origin: 50% 50%;
    transition: transform 0.6s ease-out;
}

.card:hover{
    border: 2px solid #ccc;
}

.card:hover .card-info{
    margin-top: 10px;
  }

.card:hover:before {
    transform: scale(30);
}


.card img{
    position: relative;
    transition: all 0.3s ease-out;
    border-radius: 10px;
    opacity: 0.7;
    width: 80%;
    margin: auto;
    border: 2px solid #ccc;
}

.card:hover img{
    opacity: 1;
    width: 100%;
    transition: all 0.5s ease-out;
}
  
.card:hover p {
    color: #000000;
}

.card:hover h3 {
    color: #000000;
}

.card-info{
    display: flex;
    flex-direction: column;
    transition: margin-top 0.6s ease-out;
    position: relative;
}

/* CONTACTO */

section#contacto{
    padding: 6rem 2rem;
}
#contacto:hover h4{
    box-shadow: 0px 0px 14px 0px var(--color-blue-2);
}
.grid-contacto{
    display: grid;
    grid-template-columns: 180px auto;
    height: 600px;
}

.grid-contacto .info-contacto{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid-contacto .info-contacto .info-contacto__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.grid-contacto .info-contacto .info-contacto__item i{
    font-size: 2.6rem;
    color: var(--color-blue-3);
    margin-bottom: 0.6rem;
    margin-left: 1rem;
}

.grid-contacto .info-contacto .info-contacto__item .info-contacto__item-title{
    font-size: 1.1rem;
    color: var(--color-blue-3);
    font-weight: 700;
}

.grid-contacto .info-contacto .info-contacto__item .info-contacto__item-texto{
    color: #fff;
    font-size: 0.9rem;
}

.form-contacto {
    width: 100%;
    margin: auto;
    padding-left: 2rem;
}

.form-contacto form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}

.form-contacto > span{
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.form-contacto form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.form-contacto form .form-input{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-contacto form .form-input input:focus{
    border: 1px solid var(--color-blue-2);
    outline: none;
}

.form-contacto form .form-input input{
    padding: 0.7rem;
    font-family: 'Poppins';
    background-color: #212529;
    border-radius: 0.8rem;
    color: #fff;
}

.form-contacto form .form-buttons{
    display: flex;
    justify-content: center;
}

.form-contacto form .error{
    display: none;
    color: red;
}

/*.form-contacto form #btn-form{
    background: none;
    color: #fff;
    margin: auto;
    width: 160px;
    padding: 0.4rem;
    font-family: 'poppins';
    cursor: pointer;
    border-radius: 0.8rem;
    border: 1px solid var(--color-blue-2);
}*/

.form-contacto form .form-input textarea{
    height: 200px;
    padding: 0.7rem;
    resize: none;
    font-family: 'Poppins';
    border-radius: 0.8rem;
    background-color: #212529;
    color: #fff;
}

.form-contacto form .form-input textarea:focus{
    border: 1px solid var(--color-blue-2);
    outline: none;
}

.msj-success{
    color: #188718;
    font-size: 1.1rem;
    display: none;
}
#btn-loading{
    display: none;
}
  
  /* Add a right margin to each icon */
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

  footer{
    width: 100%;
    height: 400px;
    background: rgb(140,154,157);
    background: linear-gradient(0deg, rgba(140,154,157,1) 24%, rgba(19,19,19,1) 49%);
  }
  .simple-linear {
    background: linear-gradient(#131313, pink);
  }


